*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// vars 


// Desktop First and probably only

// this is needed for the mobile warning message
header{
    display: none;
    visibility: hidden;
}

// Desktop begin

body{
    background-color: rgba($color: #000000, $alpha: .88);
    // height: 95vh;
    // width: 95vw;
    cursor: not-allowed;
    padding: 5vh;
}

#playground{
    // margin: 1%;
    // height: 100%;
    // width: 100%;
    //height: 95vh;
    //width: 95vw;
    background-color: transparent; // this should be hidden
    // background-image: url('../images/background/background.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    background: url('../images/background/background.png') no-repeat center/cover;
    cursor: url(../images/cursors/Crosshair\ Gray.cur), auto;
    // 4:3 screen
    height: 600px;
    width: 800px;
    border: 1px black solid;
    margin: auto;
    position: relative; //needed for the target
    z-index: 1;
}

.duckS{
    position: absolute; // now it should be bound to it's parent
    top: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
    cursor: url(../images/cursors/Crosshair\ Orange.cur), auto;
    background: url('../images/sprites/flying_duck.png') no-repeat;
    background-size: 50px;
    border: none;
    //border: 1px solid;  // debug
    z-index: 2;
}

#duck1{
    top: 300px;
    left: 400px;
    //background-image: url('../images/sprites/PLACEHOLDER.png');
    //display: none;
}

#duck2{
    top: 100px;
    left: 600px;
    //background-image: url('../images/sprites/PLACEHOLDER.png');
    //display: none;  // hides the second duck
}

#duck3{
    top: 50px;
    left: 50px;
    //background-image: url('../images/sprites/PLACEHOLDER.png');
    display: none;  // hides the third duck
}

#dog{
    position: absolute; // now it should be bound to it's parent
    top: 300px+60px;
    left: 400px-50px;
    z-index: 1;
    height: 100px;
    width: 100px;
    cursor: url(../images/cursors/Crosshair\ Purple.cur), auto;
    background: url('../images/sprites/laughing_dog.png') no-repeat;
    background-size: cover;
    border: none;
    //border: 1px solid;  // debug
}

#bottomBoxes{
    display: flex;
    justify-content: space-around;
    // gap: 10px;
    margin-top: 500px;
    text-align: center;
    user-select: none;  // text is now unselectable
}

#bulletsBox, #targetsHitBox, #scoreBox{
    background-color: rgba($color: #000000, $alpha: .8);
    border-radius: 10px;
    border: 2px solid #80d010;
    padding-top: 2px;
    span{
        font-weight: 750;
    }
}

#bulletsBox{
    height: 50px;
    width: 100px;
    color: #3cbcfc;
}

#targetsHitBox{
    height: 50px;
    width: 100px;
    color: #80d010;
}

#scoreBox{
    height: 50px;
    width: 100px;
    color: #fcfcfc;
}


// warning no javascript
#enableJS{
    height: 300px;
    width: 500px;
    font-size: 2rem;
    color: red;
    background-color: darkblue;
    text-align: left;
    //display: none;    // gets triggered with JS
}


// warning for smaller screens!
@media screen and (max-width:600px){
    header{
        visibility: visible;
        display: block;
        text-align: center;
        h1{
            font-size: 7.5rem;
            color: rgba($color: whitesmoke, $alpha: .8);
        }
        p{
            font-size: 4rem;
            color: rgba($color: red, $alpha: .9);
        }
    }
    #playground{
        display: none;
        visibility: none;
    }

    // warning no javascript will NOT display on mobile
    #enableJS{
        display: none;    // gets triggered with JS
    }
}
